# Import Date Table Data and Load it into the Database

In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [8]:
#read the csv 

df_date = pd.read_csv("../Resources/Date.csv", index_col='date_id')
df_date.head(10)

         year  month  quarter season
date_id
0        2001      1        1    WIN
1        2001      2        1    WIN
2        2001      3        1    SPR
3        2001      4        2    SPR
4        2001      5        2    SPR
5        2001      6        2    SUM
6        2001      7        3    SUM
7        2001      8        3    SUM
8        2001      9        3    AUT
9        2001     10        4    AUT

## Load Data into Postgres

In [9]:
# Create database connection
connection_string = "postgres:postgres@localhost:5432/ETL_Project"
engine = create_engine(f'postgresql://{connection_string}')

In [10]:
# Confirm tables
engine.table_names()

['Date', 'Demand_MillionKWH', 'Price_CentsPerKWH', 'Supply_ThousandMWH']

In [11]:
# Load DataFrame into database
df_date.to_sql(name='Date', con=engine, if_exists='append', index=True)